.demo {
  width: 200px;
  background: #eef;
}
.layer-border{
  border-style: solid;
  border-width:3px;
  
}
.layer-content{
  background-color: aqua;
}
.layer-margin{
  background-color: rgb(55, 6, 216);
  margin: 10px;
}
.layer-padding{
  background-color: lime;
  padding:10px;
}
/* TODO: change padding/border/margin values to see layout effects */
